@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown_black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-background1 {
  background-image: url('/images/background1.svg');
}

.bg-background2 {
  background-image: url('/images/background2.svg');
}

.bg-background3 {
  background-image: url('/images/background3.svg');
}

.bg-background4 {
  background-image: url('/images/background4.svg');
}

.bg-background5 {
  background-image: url('/images/background5.svg');
}

.bg-background6 {
  background-image: url('/images/background6.svg');
}
